/* LEGHORN - CUSTOM STYLESHEET */

body {
  background-color: rgb(209, 230, 142);
}

/* BANNER/NAVBAR STYLING */

.banner__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.banner__heading {
  display: inline-block;
  vertical-align: middle;
}

.banner__logo {
  align-self: center;
  padding: 0px 20px;
}

/* GENERIC PANEL(S) STYLING */

.panel__container {
  background-color: rgb(241, 242, 195);
  border: 2px solid rgb(89, 84, 14);
  padding: 15px;
  border-radius: 15px;
  max-width: 300px;
  margin: auto;
  margin-top: 20px;
}

.panel__heading {
  margin-bottom: 20px;
  text-align: center;
}

.panel__label, .panel__button, .panel__textarea, .panel__input {
  display: block;
  margin: auto;
  text-align: center;
}

.panel__textarea {
  width: 80%;
}

.panel__button {
  margin-top: 20px;
  width: 150px;
  border: 1px solid rgb(94, 52, 11);
  border-radius: 15px;
  background-color: rgb(89, 84, 14);
  color: rgb(225, 245, 213);
  font-weight: bold;
  cursor: pointer;
}

.newsfeed__article {
  border-top: grey dashed 2px;
  padding: 20px;
}

.newsfeed__author {
  font-style: italic;
  font-weight: bold;
}

.newsfeed__date {
  font-style: italic;
  text-align: right;
  font-weight: bold;
}

/* FOOTER STYLING */

.footer__container {
  padding: 20px;
}

.footer__button {
  display: block;
  width: 100px;
  border: 1px solid rgb(116, 115, 105);
  border-radius: 15px;
  background-color: rgb(116, 115, 105);
  color: rgb(225, 245, 213);
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  margin: 10px auto;
}

.footer__heading {
  font-style: italic;
  font-size: small;
  text-decoration: underline;
}

.footer__footnote {
  font-style: italic;
  font-size: small;
  margin: 0;
}

input::placeholder {
  color: red;
  font-family: serif;
  font-style: italic;
}
